pipeline/22_Lookup_Activity.json
{
	"name": "22_Lookup_Activity",
	"properties": {
		"activities": [
			{
				"name": "LookupStoreprocedure",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetCustomerDetails]",
						"storedProcedureParameters": {
							"CustomerID": {
								"type": "Int32",
								"value": "277"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DimCustomer_dw",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Setvariable_customerName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupStoreprocedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CompanyName",
					"value": {
						"value": "@activity('LookupStoreprocedure').output.firstRow.companyname",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Setvariable_SalesPerson",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupStoreprocedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SalesPerson",
					"value": {
						"value": "@activity('LookupStoreprocedure').output.firstRow.salesperson",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"CompanyName": {
				"type": "String"
			},
			"SalesPerson": {
				"type": "String"
			}
		},
		"annotations": []
	}
}